body {
    background-color: #FFA94D;
}

.botao-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E87C1E;
    height: 9vh;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.botao-bottom img {
    height: 6vh;
}

.btn-custom-orange {
  background-color: #E87C1E;
  color: white;
  border-color: #FF8C00;
}

.btn-custom-orange:hover {
  background-color: #c46919;
  border-color: #FFA07A;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 35vh;
}